@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@300;400;500;600;700;800;900&family=Google+Sans+Text:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');

* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Product Sans", "Google Sans Text", FontAwesome, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-kerning: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: normal;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 2.5px;
    }

::-webkit-scrollbar-track {
    background: rgb(225,230,235);
}

::-webkit-scrollbar-thumb {
    background: rgb(225,230,235);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(225,230,235);
}

html {
    background-color: rgb(245,250,255);
}

a {
    text-decoration: none;
}

input[title] {
    border-color: #00BCD4;
    padding: 5px;
    background-color: white;
}

/* Navigationbar starts here */
.nav {
    height: 50px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: rgb(240,245,250);
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav > .nav-header {
    display: flex;
}

.nav > .nav-header > a {
    color: black;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 10px;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color: black;
    margin-top: -2px;
    margin-left: 10px;
}

.nav > .nav-header-phone {
    display: none;
}

.nav > .nav-header-phone > a {
    color: black;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 10px;
}

.nav > .nav-header-phone > .nav-title-phone {
    display: none;
}

@media screen and (max-width: 400px) {
    .nav > .nav-header {
        display: none;
    }

    .nav > .nav-header > .nav-title {
        display: none;
        padding: 0;
    }

    .nav > .nav-header-phone {
        display: flex;
    }

    .nav > .nav-header-phone > .nav-title-phone {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        color: black;
        margin-top: -2px;
        margin-left: 10px;
    }
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-weight: 500;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    margin-top: 2.5vh;
    margin-left: 15px;
    font-weight: 500;
    font-family: "Google Sans Text", sans-serif;
    text-decoration: none;
    color: #212121;
}

.nav > .nav-links > a:hover {
    color: #00ACC1;
    border-radius: 15px;
}

.nav > #nav-check {
    display: none;
}

@media (max-width:650px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 0px;
    }

@media (max-width:650px) {
    .nav > .nav-btn > label:hover ~ span {
        color: #00ACC1;
    }
}


.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 50px;
}

.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid #212121;
}

.nav > .nav-btn > label ~ span:active {
    border-color: #00ACC1;
}

.nav > .nav-btn > label {
    padding: 20px;
}

.nav > .nav-links {
    position: fixed;
    width: 100%;
    padding-left: 10px;
    padding-top: 50px;
    background-color: rgb(255,255,255);
    font-family: "Google Sans Text", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    height: 5%;
    overflow: hidden;
    top: 96px;
    left: 0px;
    z-index: 0;
    transition: all .4s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.nav > .nav-links > a {
    display: block;
    width: 100%;
}

.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    top: -100px;
}

.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    }
}

#brand > a {
    color: #00BCD4;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: -2px;
}

#brand > a:hover {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}

#brand-small > a {
    color: #00BCD4;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: -2px;
}

#brand-small > a:hover {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}

/* Home page's main content starts from here */

.bg1 {
    display: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-image: url(assets/carpool_only_large-1fb250954893109fa160f6fb41c3ef3d.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s all ease-in-out;
}

@media only screen and (max-width: 800px) {
    .bg1 {
        background-image: url(assets/carpool_only_small-2a873c6cbe41aedde8f4b1b168cf9fd2.svg);
    }
}

@media only screen and (max-width: 550px) {
    .bg1 > h1 {
        text-align: center;
    }
}

.bg1 > .empty-area > span {
    content: "";
    clear: both;
    position: sticky;
    display: block;
    padding-top: 8%;
    padding-bottom: 5%;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    color: rgb(50,55,60);
    margin-top: 30px;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 25px;
        letter-spacing: -1px;
    }
}

@media screen and (max-width: 400px) {
    .heading {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.aboutus {
    display: flex;
    align-content: center;
    align-self: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 70%;
}

.aboutus > h1 {
    padding-bottom: 20px;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
}

.aboutus > p {
    font-family: "Google Sans Text";
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    line-height: 40px;
    color: rgb(90,95,100);
}

@media screen and (max-width: 400px) {
    .aboutus {
        width: 90%;
    }

    .aboutus > h1 {
        font-size: 30px;
    }

    .aboutus > p {
        font-size: 18px;
        text-align: left;
        line-height: 36px;
    }
}

.ride-search-container {
    content: "";
    display: table;
    clear: both;
    position: sticky;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 8px;
}

@media only screen and (max-width: 650px) {
    .ride-search-container {
        border: none;
        background-image: none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}

.ride-search-container > .content-width {
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.ride-search-container > .content-width > input {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    width: 20%;
    margin: auto;
    border: 1.5px solid rgb(225,230,235);
    outline: none;
    border-radius: 10px;
    background-color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.ride-search-container > .content-width > input:hover {
    border: 1.5px solid #4DD0E1;
    outline: none;
    transition: all .5s ease-in-out;
}

.ride-search-container > .content-width > input:focus {
    border: 1.5px solid #00BCD4;
    outline: none;
    transition: all .5s ease-in-out;
}

.ride-search-container > .content-width > button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin: auto;
    background-color: rgba(250,250,250,0.7);
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.ride-search-button {
    background-color: rgba(250,250,250,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media only screen and (max-width: 865px) {
    .ride-search-container > .content-width > input {
        margin-block: 5px;
        width: 60%;
    }

    .ride-search-container > .content-width > button {
        margin-top: 5px;
        width: 60%;
    }
}

@media only screen and (max-width: 560px) {
    .ride-search-container > .content-width > input {
        margin-block: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .ride-search-container > .content-width > input{
        padding: 15px;
        font-size: 15px;
        width: 85%;
    }

    .ride-search-container > .content-width > button {
        margin-top: 5px;
        width: 80%;
    }

}

@media only screen and (max-width: 300px) {
    .ride-search-container > .content-width > input {
        padding: 10px;
        font-size: 12px;
    }
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    font-family: "Google Sans Text", sans-serif;
    background-color: rgb(240,245,250);
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

#display2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    word-break: break-all;
    font-size: 15px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    font-family: "Google Sans Text", sans-serif;
    background-color: rgb(240,245,250);
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.cityselector {
    transition: all .3s ease-in-out;
    width: 100%;
    padding: 10px;
    color: rgb(90,95,100);
    border: 1px solid rgba(255,255,255,0);
    border-radius: 10px;
}

.cityselector:hover {
    transition: all .3s ease-in-out;
    background-color: rgb(245,250,255);
    border: 1px solid rgb(225,230,235);
}

.time-selection {
    width: 100%;
    display: flex;
    margin-top: -10px;
    margin-bottom: 10px;
}

.time-selection > select {
    width: 100%;
    padding: 6px;
    border: 1.5px solid rgb(225,230,235);
    background-color: transparent;
    text-align: center;
}

.time-selection > select:focus {
    outline: none;
}

.time-selection > select > option {
    border: none;
    background-color: white;
}

.time-selection > select > option:hover {
    background-color: transparent;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    font-size: 20px;
}

.column > i {
    font-size: 25px;
    background-color: #26C6DA;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    cursor: none;
}

.column > h3 {
    padding-top: 25px;
    font-weight: 700;
    color: #212121;
}

.column > p {
    font-family: "Google Sans Text", sans-serif;
    padding-top: 15px;
    line-height: 1.5;
    color: #424242;
}

.column > h1 {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -5px;
    color: #212121;
}

.column > a > button {
    width: 50%;
    padding: 15px;
    font-family: "Google Sans Text", sans-serif;
}

.column > a > .login {
    cursor: pointer;
    border-radius: 50px;
    color: #424242;
    background-color: rgb(240,245,250);
    transition: all .5s ease-in-out;
}

.column > a > .login:hover {
    border-radius: 15px;
    transition: all .5s ease-in-out;
}

.column > a > .signup {
    margin-top: -10px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #26C6DA;
    transition: all .5s ease-in-out;
}

.column > a > .signup:hover {
    border-radius: 15px;
    background-color: #00BCD4;
    transition: all .5s ease-in-out;
}

.column > a > .searchforride {
    cursor: pointer;
    border-radius: 50px;
    color: #424242;
    background-color: rgb(240,245,250);
    transition: all .5s ease-in-out;
}

.column > a > .searchforride:hover {
    border-radius: 15px;
    transition: all .5s ease-in-out;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgb(225,230,235);
    box-shadow: 0px 1px 5px rgb(240,245,250);
    background-color: white;
    background-size: cover;
    border-radius: 30px;
}

@media screen and (max-width: 1040px) {
    .row {
        margin: auto;
        border-radius: 0px;
        border: none;
    }
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
        padding: 30px;
        font-size: 22px;
        letter-spacing: -1.2px;
        text-align: center;
    }

    .column > h1 {
        font-size: 50px;
        letter-spacing: -4px;
    }

    .column > button {
        padding: 10px;
    }

    .row {
        border-top: 1px solid rgb(225,230,235);
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        padding: 20px;
        font-size: 18px;
        letter-spacing: -0.8px;
        text-align: center;
        background-image: none;
    }

    .column > i {
        font-size: 30px;
    }

    .column > h1 {
        font-size: 50px;
        letter-spacing: -4px;
    }

    .column > button {
        padding: 10px;
    }

    .row {
        border-radius: 0;
        margin: auto;
        padding-top: 50px;
    }
}

@media screen and (max-width: 430px) {
    .column > p {
        text-align: justify;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.testimonials {
    position: relative;
    background-color: rgb(245,250,255);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.testimonials-title {
    color: rgb(40,45,50);
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 40px;
}

.testimonials p {
    font-size: 20px;
    font-family: "Google Sans Text", sans-serif;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: rgb(100,105,110);
}

.testimonials cite {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-top: 1.5rem;
}

.slides {
    overflow: hidden;
    position: relative;
}

.slide {
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100vw;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity .5s;
}

.slide:first-of-type , 
.slide-ctrl:nth-of-type(1):target ~
.slide:nth-of-type(1),
.slide-ctrl:nth-of-type(2):target ~
.slide:nth-of-type(2),
.slide-ctrl:nth-of-type(3):target ~
.slide:nth-of-type(3) {
    opacity: 1;
    pointer-events: auto;
}

.slide-ctrl:target ~ .slide {
    opacity: 0;
    pointer-events: none;
}

.slides-ctrl {
    position: relative;
    margin-top: 200px;
    text-align: center;
    width: 100%;
}

.slide-btn {
    display: inline-block;
    visibility: visible;
    width: 15px;
    height: 15px;
    line-height: 1;
    overflow: hidden;
    margin: 20px;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(220,225,230);
    text-indent: 100%;
    border-radius: 1000px;
}

.slide-btn:hover , .slide-btn:focus {
    background-color: rgb(50,55,60);
    transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 1000px) {
    .testimonials p {
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media screen and (min-width: 800px) {
    .testimonials p {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 700px) {
    .testimonials {
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .testimonials-title {
        font-size: 30px;
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 500px) {
    .testimonials {
        padding: 20px;
    }

    .testimonials p {
        text-align: justify;
        font-size: 18px;
    }

    .testimonials cite {
        font-size: 14px;
    }

    .slide-btn {
        width: 14px;
        height: 14px;
    }
}

@media screen and (max-width: 400px) {
    .testimonials-title {
        font-size: 20px;
        letter-spacing: -0.5px;
    }
}

@media screen and (max-width: 350px) {
    .slides-ctrl {
        margin-top: 280px;
    }
}

@media screen and (max-width: 290px) {
    .slides-ctrl {
        margin-top: 380px;
    }
}

#contactus {
    display: block;
}

.bottom-container {
    content: "";
    display: table;
    clear: both;
    position: absolute;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: "Google Sans Text", sans-serif;
    background-color: white;
    z-index: 1;
}

.bottom-container > span {
    display: block;
    color: #757575;
    font-weight: 500;
    padding: 20px;
    text-align: center;
}

.bottom-container> p {
    font-size: 20px;
    font-weight: 900;
    color: #00BCD4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.bottom-container > a > i {
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

i:hover {
    cursor: pointer;
}

.fas , .fa-brands {
    color: #212121;
}

.fas:hover , .fa-brands:hover {
    color: #00BCD4;
    transition: all 0.4s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

/* For signup and login page */
form > .loginui {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 30%;
    background-color: transparent;
    border: 2px solid rgb(225,230,235);
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    top: 5vh;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 1120px) {
    form > .loginui {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
        width: 50%;
    }
}

@media screen and (max-width: 599px) {
    form > .loginui {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
        width: 80%;
    }
}

form > .loginui > h1 {
    color:#00BCD4;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 40px;
}

@media screen and (max-width: 385px) {
    form > .loginui > h1 {
        font-size: 34.5px;
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 285px) {
    form > .loginui > h1 {
        font-size: 30px;
        letter-spacing: -1px;
    }
}

form > .loginui > p {
    color: black;
    letter-spacing: -2px;
    font-size: 25px;
    font-family: "Google Sans Text", sans-serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
}

@media screen and (max-width: 385px) {
    form > .loginui > p {
        font-size: 24.5px;
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 285px) {
    form > .loginui > p {
        font-size: 20px;
        letter-spacing: -1px;
    }
}

form > .loginui > input {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgb(225,230,235);
    outline: none;
    padding: 3%;
    margin-bottom: 8%;
    font-family: "Google Sans Text", sans-serif;
}

form > .loginui > input:hover {
    border: 1px solid #4DD0E1;
    outline: none;
    transition: all .2s ease-in-out;
}

form > .loginui > input:focus {
    border: 1px solid #00BCD4;
    outline: none;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 385px) {
    form > .loginui > input {
        padding: 5%;
    }
}

.signuporlogininstead > a {
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    color: #00ACC1;
}

button {
    display: flexbox;
    color: white;
    border: none;
    margin: 10px 0 30px 0;
    font-size: 15px;
    font-weight: 700;
    font-family: "Google Sans Text", sans-serif;
}

.gobackbtn {
    padding: 12px;
    background-color: transparent;
    color: #424242;
}

.gobackbtn , .signupbtn {
    float: left;
    width: 50%;
}

.gobackbtn:hover {
   transition: 1s all ease-in-out;
   box-shadow: 0px 5px rgb(225,230,235);
}

.signupbtn {
    padding: 12px;
    color: #26C6DA;
    background-color: transparent;
}

.signupbtn:hover {
   transition: 1s all ease-in-out;
   box-shadow: 0px 5px rgb(225,230,235);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.payment_methods {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    align-self: center; 
    justify-content: center;
    margin-top: 12vh;
}

.payment_methods > h1 {
    font-size: 40px;
    letter-spacing: -1px;
    color: rgb(0,188,212);
    padding-bottom: 20px;
}

.payment_methods button {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Google Sans Text";
    font-size: 16px;
    width: 400px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(235,240,245);
    color: rgb(90,95,100);
    transition: all .4s ease-in-out;
}

.payment_methods button:hover {
    box-shadow: 0px 0px 0px 0.5px rgb(0,188,212);
    transition: .4s all ease-in-out;
}

.payment_methods button.cancel_payment {
    background-color: transparent;
    color: rgb(30,35,40);
}

.payment_methods button.cancel_payment:hover {
    box-shadow: none;
    color: rgb(0,188,212);
}

.payment_methods button.proceed_payment {
    background-color: transparent;
    color: rgb(0,188,212);
}

.payment_methods button.proceed_payment:hover {
    box-shadow: none;
    color: rgb(30,35,40);
}

.payment_methods button.cancel_payment button.proceed_payment {
    width: 10px;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 430px) {
    .payment_methods > h1 {
        font-size: 30px;
    }

    .payment_methods button {
        width: 350px;
    }
}

@media only screen and (max-width: 370px) {
    .payment_methods > h1 {
        font-size: 30px;
    }

    .payment_methods button {
        width: 260px;
        padding: 15px;
        font-size: 14px;
    }
}

.contact-detail-link { 
    display: none; 
    background-color: rgb(225,230,235);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
    transition: all .4s ease-in-out;
}

.contact-detail-link > a > li {
    color: rgb(50,55,60);
    font-family: "Google Sans Text";
    font-weight: 500;
}

.contact-detail-link > a > li:hover {
    color: rgb(50,55,60);
    font-family: "Google Sans Text";
    text-decoration: underline;
}

.payment-with-qr {
    display: none;
    background-color: rgb(225,230,235);
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    transition: all .4s ease-in-out;
}

.payment-with-qr > img {
    margin: auto;
    width: 150px;
    border-radius: 10px;
}

.show { 
    display: flex; 
    flex-direction: column;
    transition:step-end 4s;
}