@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;

    font-kerning:none;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: normal;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 2.5px;
    }

/* Track */
::-webkit-scrollbar-track {
    background: rgb(225,230,235);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(225,230,235);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(225,230,235);
}

html {
    background-color: rgb(245,250,255);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Navigationbar starts here */

.nav {
    height: 70px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav > .nav-header {
    display: flex;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color: black;
    padding: 8px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-weight: 500;
    font-size: 20px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 0px 10px 13px 10px;
    font-weight: 600;
    letter-spacing: -.5px;
    text-decoration: none;
    color: #212121;
}

.nav > .nav-links > a:hover {
    color: #00ACC1;
    border-radius: 15px;
}

.nav > #nav-check {
    display: none;
}

@media (max-width:650px) {
    .nav > .nav-btn {
        display: inline-block;
        border-radius: 20px;
        position: absolute;
        right: 10px;
        top: 8px;
    }

@media (max-width:650px) {
    .nav > .nav-btn > label:hover ~ span {
        color: #00ACC1;
    }
}


.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 50px;
}

.nav > .nav-btn :hover > label ~ span {
    color: #00ACC1;
}

.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 6px dotted #212121;
}

.nav > .nav-btn > label {
    padding: 20px;
}

.nav > .nav-links {
    position: absolute;
    display: flexbox;
    width: 100%;
    padding-left: 10px;
    padding-top: 50px;
    background-color:  rgb(245,250,255);
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    height: 5%;
    overflow: hidden;
    transition: all .5s ease;
    top: 116.5px;
    left: 0px;
    z-index: 0;
}

.nav > .nav-links > a {
    display: block;
    width: 100%;
}

.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    top: -100px;
}

.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    }
}

#brand > a {
    color: #00BCD4;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: -2px;
}

#brand > a:hover {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}

/* Home page's main content starts from here */

.bg1 {
    content: "";
    display: flexbox;
    width: 100%;
    margin: auto;
    height: 20vh;
    padding: 10%;
    background-image: url(assets/carpool_only_small-2a873c6cbe41aedde8f4b1b168cf9fd2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 650px) {
    .bg1 {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 550px) {
    .bg1 > h1 {
        text-align: center;
    }
}

.bg1 > .empty-area > span {
    content: "";
    clear: both;
    position: sticky;
    display: block;
    padding-top: 8%;
    padding-bottom: 5%;
}

.heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    color: rgb(40,45,50);
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 25px;
        letter-spacing: -1px;
    }
}

.ride-search-container {
    content: "";
    display: table;
    clear: both;
    position: sticky;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 8px;
}

@media only screen and (max-width: 650px) {
    .ride-search-container {
        border: none;
        background-image: none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}

.ride-search-container > .content-width {
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.ride-search-container > .content-width > input {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    width: 20%;
    margin: auto;
    outline: 2px solid rgb(225,230,235);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px rgb(225,230,235);
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.ride-search-container > .content-width > input:hover {
    border: none;
    outline: 1px solid #4DD0E1;
    box-shadow: 0px 5px rgb(225,230,235);
    transition: all .5s ease-in-out;
}

.ride-search-container > .content-width > input:focus {
    border: none;
    outline: 1px solid #00BCD4;
    box-shadow: 0px 8px rgb(225,230,235);
    transition: all .5s ease-in-out;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.ride-search-container > .content-width > button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin: auto;
    background-color: rgba(250,250,250,0.7);
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.ride-search-button {
    background-color: rgba(250,250,250,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media only screen and (max-width: 865px) {
    .ride-search-container > .content-width > input{
        margin-block: 5px;
        width: 60%;
    }

    .ride-search-container > .content-width > button {
        margin-top: 5px;
        width: 60%;
    }
}

@media only screen and (max-width: 560px) {
    .ride-search-container > .content-width > input {
        margin-block: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .ride-search-container > .content-width > input{
        padding: 12px;
        font-size: 12px;
        width: 80%;
    }

    .ride-search-container > .content-width > button {
        margin-top: 5px;
        width: 80%;
    }

}

@media only screen and (max-width: 300px) {
    .ride-search-container > .content-width > input {
        padding: 10px;
        font-size: 12px;
    }
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    word-break: break-all;
    padding: 20px;
    font-size: 20px;
}

.cityselector {
    padding: 10px;
    color: rgb(40,45,50);
}

.cityselector:hover {
    background-color: white;
    outline: 2px solid rgb(225,230,235); 
    border-radius: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    font-size: 20px;
    letter-spacing: -0.5px;
}

.column > i {
    font-size: 25px;
    background-color: #26C6DA;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    cursor: none;
}

.column > h3 {
    font-weight: 700;
    color: #212121;
}

.column > p {
    margin-top: -10px;
    color: #424242;
}

.column > h1 {
    margin-top: -10px;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -5px;
    color: #212121;
}

.column > a > button {
    margin-top: -5px;
    padding: 15px;
}

.column > a > .applytodrive {
    cursor: pointer;
    border-radius: 8px;
    color: #424242;
    background-color: rgb(240,245,250);
}

.column > a > .applytodrive:hover {
    box-shadow: 0px 5px rgb(225,230,235);
    transition: all .1s ease-in-out;
}

.column > a > .signuptoride {
    cursor: pointer;
    border-radius: 8px;
    background-color: #26C6DA;
}

.column > a > .signuptoride:hover {
    box-shadow: 0px 5px rgb(225,230,235);
    background-color: #00BCD4;
    transition: all .1s ease-in-out;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid rgb(225,230,235);
    box-shadow: 0px 10px rgb(225,230,235);
    background-color: white;
    background-size: cover;
    border-radius: 30px;

}

@media screen and (max-width: 1040px) {
    .row {
        margin: auto;
        border-radius: 0px;
        border: none;
    }
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
        padding: 30px;
        font-size: 22px;
        letter-spacing: -1.2px;
        text-align: center;
    }

    .column > h1 {
        font-size: 50px;
        letter-spacing: -4px;
    }

    .column > button {
        padding: 10px;
    }

    .row {
        margin-left: 50px;
        margin-right: 50px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-top: 2px solid rgb(225,230,235);
        border-left: 2px solid rgb(225,230,235);
        border-right: 2px solid rgb(225,230,235);
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        padding: 20px;
        font-size: 18px;
        letter-spacing: -0.8px;
        text-align: center;
        background-image: none;
    }

    .column > i {
        font-size: 30px;
    }

    .column > h1 {
        font-size: 50px;
        letter-spacing: -4px;
    }

    .column > button {
        padding: 10px;
    }

    .row {
        margin: auto;
        padding-top: 50px;
    }
}

.content {
    display: flex;
    width: 100%;
    overflow: auto;
    letter-spacing: -0.5px;
}

.content > p {
    text-align: left;
    color: #424242;
    margin-top: 1%;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}

.user-rating-container {
    content: "";
    clear: both;
    display: table;
    width: 100%;
    border-top: 5px rgb(220,225,230) dotted;
    background-color: white;
    background-size: cover;
}

.user-rating-container > h1 {
    display: block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 3%;
    margin-left: 6%;
    text-align: left;
    color: #212121;
}

@media only screen and (max-width: 1000px) {
    .content {
        display: block;
    }

    .content > p {
        text-align: center;
    }

    .user-rating-container > h1 {
        text-align: center;
        margin-left: 0;
    }
}

@media only screen and (max-width: 370px) {
    .content > p {
        font-size: 18px;
        letter-spacing: -0.8px;
    }

    .user-rating-container > h1 {
        font-size: 30px;
        letter-spacing: -2px;
    }
}

#contactus {
    display: block;
}

.bottom-container {
    content: "";
    display: table;
    clear: both;
    position: absolute;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: 5px rgb(220,225,230) dotted;
    background-color: white;
    z-index: 1;
}

.bottom-container > span {
    display: block;
    color: #757575;
    font-weight: 500;
    padding: 20px;
    text-align: center;
}

.bottom-container> p {
    font-size: 20px;
    font-weight: 900;
    color: #00BCD4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.bottom-container > a > i {
    margin-top: -20px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

i:hover {
    cursor: pointer;
}

.fas , .fab {
    color: #212121;
}

.fa-envelope:hover {
    color: #EF5350;
    transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.fa-github:hover {
    color: #AB47BC;
    transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.fa-telegram:hover {
    color: #42A5F5;
    transition: all 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

/* For signup and login page */
form > .loginui {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 30%;
    background-color: rgb(245,250,255);
    border: 2px solid rgb(225,230,235);
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    top: 20vh;
}

@media screen and (max-width: 1120px) {
    form > .loginui {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
        width: 50%;
    }
}

@media screen and (max-width: 599px) {
    form > .loginui {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
        width: 80%;
    }
}

form > .loginui > h1 {
    color:#00BCD4;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -2px;
    text-align: center;
}

@media screen and (max-width: 385px) {
    form > .loginui > h1 {
        font-size: 34.5px;
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 285px) {
    form > .loginui > h1 {
        font-size: 30px;
        letter-spacing: -1px;
    }
}

form > .loginui > p {
    color: black;
    letter-spacing: -2px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 385px) {
    form > .loginui > p {
        font-size: 24.5px;
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 285px) {
    form > .loginui > p {
        font-size: 20px;
        letter-spacing: -1px;
    }
}

form > .loginui > input {
    width: 100%;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.2);
    outline: 1px solid #d4d4d4;
    border: none;
    padding: 3%;
    margin-bottom: 8%;
}

form > .loginui > input:hover {
    outline: 2px solid #4DD0E1;
    border: none;
    transition: all .2s ease-in-out;
}

form > .loginui > input:focus {
    outline: 2px solid #00BCD4;
    border: none;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 385px) {
    form > .loginui > input {
        padding: 5%;
    }
}

button {
    display: flexbox;
    color: white;
    border: none;
    margin: 10px 0 30px 0;
    font-size: 15px;
    font-weight: 700;
}

.gobackbtn {
    padding: 12px;
    background-color: transparent;
    color: #424242;
}

.gobackbtn , .signupbtn {
    float: left;
    width: 50%;
}

.gobackbtn:hover {
   transition: 1s all ease-in-out;
   box-shadow: 0px 5px rgb(225,230,235);
}

.signupbtn {
    padding: 12px;
    color: #26C6DA;
    background-color: transparent;
}

.signupbtn:hover {
   transition: 1s all ease-in-out;
   box-shadow: 0px 5px rgb(225,230,235);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}