* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;

    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: normal;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html {
    background-color: #FAFAFA;
}

body {
    margin: 0;
    padding: 0;
}

/* Navigationbar starts here */

.nav {
    height: 70px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px; 
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    background-image: linear-gradient(180deg, rgba(255,255,255,0.7), rgba(250,250,250,0.7)); 
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px #d4d4d4 solid;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
  
.nav > .nav-header {
    display: flex;
}
  
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    color: black;
    padding: 8px 10px 10px 10px;
}
  
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    display: inline;
    float: right;
    font-weight: 500;
    font-size: 20px;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 8px 10px 13px 10px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-decoration: none;
    color: #212121;
}
  
.nav > .nav-links > a:hover {
    color: #00ACC1;
    border-radius: 15px;
}
  
.nav > #nav-check {
    display: none;
}
  
@media (max-width:650px) {
    .nav > .nav-btn {
        display: inline-block;
        border-radius: 20px;
        position: absolute;
        right: 10px;
        top: 8px;
    }

@media (max-width:650px) {
    .nav > .nav-btn > label:hover ~ span {
        color: #00ACC1;
    }
}


.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 50px;
}
    
.nav > .nav-btn :hover > label ~ span {
    color: #00ACC1;
}

.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 6px dotted #212121;
}

.nav > .nav-btn > label {
    padding: 20px;
}

.nav > .nav-links {
    position: absolute;
    display: flexbox;
    width: 100%;
    padding-left: 10px;
    padding-top: 50px; 
    background-image:  linear-gradient(180deg, #FAFAFA, #F5F5F5);
    font-weight: 500;
    font-size: 20px;
    text-align: left;  
    height: 5%;
    overflow: hidden;
    transition: all .5s ease;
    top: 116.5px;
    left: 0px;
    z-index: 0;
}

.nav > .nav-links > a {
    display: block;
    width: 100%;
}

.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    top: -100px;
}

.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    }
}

#brand > a {
    background-image: linear-gradient(180deg, #00BCD4, #00ACC1);
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: -2px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

#brand > a:hover {
    background-image: linear-gradient(180deg, #424242, #212121);
    text-decoration: none;
    transition: all .5s ease;
}

/* Home page's main content starts from here */

.bg1 {
    content: "";
    display: flexbox;
    width: 100%;
    margin: auto;
    margin-top: 70px;
    padding: 10%;
    background-image: url(assets/carpool_only_small-2a873c6cbe41aedde8f4b1b168cf9fd2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg1 > h1 {
    content: "";
    clear: both;
    position: sticky;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    letter-spacing: -3px;
    display: table;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .bg1 {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .bg1 > h1 {
        font-size: 30px;
        letter-spacing: -1.5px;
    }
}

@media only screen and (max-width: 550px) {
    .bg1 > h1 {
        text-align: center;
    }
}

.bg1 > .empty-area > span {
    content: "";
    clear: both;
    position: sticky;
    display: block;
    padding-top: 8%;
    padding-bottom: 5%; 
}

.bg1 > .ride-search-container {
    content: "";
    display: table;
    clear: both;
    position: sticky;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 20px;
    background-image:  linear-gradient(180deg, rgba(255,255,255,0.5), rgba(245,245,245,0.5));
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media only screen and (max-width: 650px) {
    .bg1 > .ride-search-container {
        border: none;
        background-image: none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}

.bg1 > .ride-search-container > .content-width {
    padding: 10px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.bg1 > .ride-search-container > .content-width > label > span {
    margin-left: 5px;
    margin-right: 5px;
    color: #d4d4d4;
    font-weight: 200;
}

@media only screen and (max-width: 908px) {
    .bg1 > .ride-search-container > .content-width > label > span {
        display: none;
    }
}

.bg1 > .ride-search-container > .content-width > input {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    margin: auto;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    background-image:  linear-gradient(180deg, rgba(255,255,255,0.9), rgba(245,245,245,0.9));
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    outline: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.bg1 > .ride-search-container > .content-width > input:hover {
    outline: 2px solid #4DD0E1;
    transition: all .5s ease-in-out;
}

.bg1 > .ride-search-container > .content-width > input:focus {
    outline: 2px solid #00BCD4;
    transition: all .5s ease-in-out;
}

.bg1 > .ride-search-container > .content-width > button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    background-image:  linear-gradient(180deg, rgba(255,255,255,0.7), rgba(245,245,245,0.7));
    margin: auto;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

@media only screen and (max-width: 865px) {
    .bg1 > .ride-search-container > .content-width > input{
        margin-block: 5px;
        width: 60%;
    }

    .bg1 > .ride-search-container > .content-width > button {
        margin-top: 5px;
        width: 60%;
    }
}

@media only screen and (max-width: 560px) {
    .bg1 > .ride-search-container > .content-width > input {
        margin-block: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .ride-search-container > .content-width > input{
        padding: 12px;
        font-size: 12px;
        width: 80%;
    }

    .ride-search-container > .content-width > button {
        margin-top: 5px;
        width: 80%;
    }

}

@media only screen and (max-width: 300px) {
    .bg1 > .ride-search-container > .content-width > input {
        padding: 10px;
        font-size: 12px;
    }
}

.column {
    float: right;
    width: 33.33%;
    padding: 50px;
    font-size: 20px;
    letter-spacing: -0.5px;
}

.column > i {
    font-size: 35px;
    background-image: linear-gradient(180deg, #26C6DA, #00BCD4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    cursor:default;
}

.column > h3 {
    font-weight: 800;
    background-image: linear-gradient(180deg, #424242, #212121);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.column > p {
    margin-top: -10px;
    color: #424242;
}

.column > h1 {
    margin-top: -10px;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: -5px;
    background-image: linear-gradient(180deg, #424242, #212121);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
}

.column > a > button {
    margin-top: -5px;
    padding: 15px;
}

.column > a > .applytodrive {
    cursor: pointer;
    border: 1px solid #757575;
    border-radius: 8px;
    padding: 15px;
    color: #424242;
    background-image: linear-gradient(180deg,#FAFAFA, #F5F5F5);
}

.column > a > .applytodrive:hover {
    background-image: linear-gradient(360deg,#F5F5F5, #EEEEEE);
    transition: all .5s ease-in-out;
}

.column > a > .signuptoride {
    cursor: pointer;
    border: 1px solid #757575;
    border-radius: 8px;
    padding: 14px;
    background-image: linear-gradient(180deg, #26C6DA, #00BCD4);
}

.column > a > .signuptoride:hover {
    background-image: linear-gradient(360deg,#00BCD4, #00ACC1);
    transition: all .5s ease-in-out;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    background-image:  linear-gradient(180deg, #FAFAFA, #F5F5F5);
    background-size: cover;
    border-radius: 20px;
    border: 1px solid #d4d4d4;
}

@media screen and (max-width: 1040px) {
    .row {
        margin: auto;
        border-radius: 0px;
        border: none;
    }
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
        padding: 30px;
        font-size: 22px;
        letter-spacing: -1.2px;
        text-align: center;
    }

    .column > h1 {
        font-size: 50px;
        letter-spacing: -4px;
    }

    .column > button {
        padding: 10px;
    }

    .row {
        margin-left: 50px;
        margin-right: 50px;
        background-image: linear-gradient(180deg, #FAFAFA, #F5F5F5);
        border-radius: 0px;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        padding: 20px;
        font-size: 18px;
        letter-spacing: -0.8px;
        text-align: center;
        background-image: none;
    }

    .column > i {
        font-size: 30px;
    }

    .column > h1 {
        font-size: 50px;
        letter-spacing: -4px;
    }

    .column > button {
        padding: 10px;
    }

    .row {
        margin: auto;
        padding-top: 50px;
        background-image: linear-gradient(180deg, #FAFAFA, #F5F5F5);
        border: none;
    }
}

#contactus {
    display: block;
}

.bottom-container {
    content: "";
    display: table;
    clear: both;
    position: absolute;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: 1px #d4d4d4 solid;
    background-image: linear-gradient(180deg, #FAFAFA, white);
    z-index: 1;
}

.bottom-container > span {
    display: block;
    color: #757575;
    font-weight: 500;
    padding: 20px;
    text-align: center;
}

.bottom-container> p {
    font-size: 20px;
    font-weight: 900;
    color: #00BCD4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.bottom-container > a > i {
    margin-top: -20px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

i:hover {
    cursor: pointer;
}

.fas , .fab {
    color: #424242;
}

.fa-envelope:hover {
    color: #EF5350;
}

.fa-github:hover {
    color: #AB47BC;
}

.fa-telegram:hover {
    color: #42A5F5;
}

/* For signup and login page */
.loginui {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 30%;
    background-color: #FAFAFA;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 5% auto 10% auto;
}

@media screen and (max-width: 599px) {
    .loginui {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
        width: 80%;
    }
}

.loginui > h1 {
    background-image: linear-gradient(180deg, #00BCD4, #00ACC1);
    color: #FAFAFA;
    border-radius: 8px;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -2px;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;  
}

@media screen and (max-width: 385px) {
    .loginui > h1 {
        font-size: 34.5px;
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 285px) {
    .loginui > h1 {
        font-size: 30px;
        letter-spacing: -1px;
    }
}

.loginui > p {
    letter-spacing: -2px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 385px) {
    .loginui > p {
        font-size: 24.5px;
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 285px) {
    .loginui > p {
        font-size: 20px;
        letter-spacing: -1px;
    }
}

.loginui > input {
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(180deg, white,#FAFAFA);
    border: 1px solid #d4d4d4;
    padding: 3%;
    margin-bottom: 8%;
}

input:hover {
    outline: 2px solid #4DD0E1;
    transition: all .5s ease-in-out;
}

input:focus {
    outline: 2px solid #00BCD4;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 385px) {
    .loginui > input {
        padding: 5%;
    }
}

button {
    display: flexbox;
    color: white;
    border: none;
    margin: 10px 0 30px 0;
   
    font-size: 15px;
    font-weight: 700;
}

.gobackbtn {
    padding: 11px;
    background-image: linear-gradient(180deg,#FAFAFA, #F5F5F5);
    color: #424242;
    border: 1px solid #d4d4d4;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

.gobackbtn , .signupbtn {
    float: left;
    width: 50%;
}

.gobackbtn:hover {
    background-image: linear-gradient(360deg, #F5F5F5, #EEEEEE);
}

.signupbtn {
    padding: 12px;
    background-image: linear-gradient(180deg, #26C6DA, #00BCD4);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.signupbtn:hover {
    background-image: linear-gradient(360deg,#00BCD4, #00ACC1);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}